#logo{
  background-color: greenyellow;
  border-radius: 200px;
  width: 100;
  height: 100;
  position:fixed;
  left: 50%;
  top: -50px;
  text-align: center;
}
#a1-1{
  background-color: aqua;
}
.a1{
  background-color: gold;
}
p{
  font-size: 18;
}
body{
  background-color: wheat;
}
#a1-2{
  /*float: right;*/
  right: 0px;
  position: absolute;
}
html{
  scroll-behavior: smooth;
}
.navbarlink{
  display: inline-flex;
  border: 2px solid #4511d644;
  border-radius: 20px; 
  background-color: #4fd611d2;
  padding-left: 10px;
  padding-right: 10px;
  /*padding: 0px 10px 0px 10px*/
  transition-duration: 0.5s;
}
.navbarlink a{
  color: black;
  text-decoration: none;
}
.navbarlink:hover{
  border: 2px solid #350ea344; border-radius: 20px; 
  background-color: #3fa311d2;
}
.b4{
  float:right;
}
table{  
  border-color: black;
  border-style:solid;
  border-width: 3px;
  border-collapse: collapse;
}
td, th, tr{
  border-style:dotted;
}
.input-form1{
  border-style: none;
  border-radius: 10px;
  text-align: center;
  
}
.form1{
  display: inline-block;
  padding: 0px 30px 15px 30px;
  border-style: solid;
  border-radius: 10px;
  border-color: crimson;
  width:fit-content;
  text-align: center;
}
.label-form1{
  font-family: sans-serif;
}
#niezlapieszmnie{
  background-color: red;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  z-index: 9;
  position: absolute  ;
}
